
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.sticker-container{
    font-family: 'Roboto', sans-serif;
    width: 300px;
    height: 300px;
    background: white;
    border: 1px solid;
    border-color: black;
    border: 5px solid;
    padding: 20px;
    background-color: #a0ac95;
    margin: auto;
  }
  
  .number {
    display:table; 
    line-height: 1;
    margin: auto;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    margin-bottom: 10px;
  }
  .title {
    display:table; 
    margin: auto;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .qrcode {
    display: flex;
    margin: auto;
    border: 2px solid;
    border-color: white;
    padding: 5px;
    border-radius: 3px;

    background-color: white;
  }